

.purple-check-circle{
    background-color: var(--burgundy-color);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    flex-shrink: 0;
    align-self: flex-start;
}