

.game-changing-container{

    padding: 25px;

    h1{
        font-weight: 900;
        color: var(--black-text-color);
    }
    

    .game-changing-sections{
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 16px;
        .section{
            width: 240px;
            height: 156px;  
            box-shadow: var(--icon-card-box-shadow);
            position: relative;
            margin-top: 88px;
            display: flex;
            align-items: flex-end;
            
            h2{
                height: 55%;
                width: 100%;
                padding: 0 5px;
                color: var(--black-text-color);
            }

            img {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            



        }

    }

}


// Mobiles
@media (max-width: 480px) {

    .game-changing-container{

       
        
    
        .game-changing-sections{
            width: 95%;
            
            .section{
                width: 305px;
                height: 147px;  
    
                img {
                    width: 112px;
                    height: 112px;  
                }
 
    
            }
        }
    
    }
    
}